body {
    background: #261f2b;
    color: white;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
}

header {
    border-bottom: 0.15rem solid sandybrown;
}

.header-internal {
    background: #32293a;
    box-shadow: 0px -0.25rem 0.5rem black;
    padding-top: 0.4rem;
    width: 98%;
    margin: auto;
}

.logo [alt="logo"] {
    height: 40px;
    margin-left: 10px;
}
.logo [alt="vtange"] {
    height: 24px;
    padding-bottom: 8px;
}

.construction {
    margin-top:  30vh;
}

.absolute {
    position: absolute;
}

.margin-auto {
    margin: auto;
}


.w80 {
    width: 80%;
}

/* smallest */
@media (max-width: 450px) {
    .logo {
    }
}


@media (min-width: 450px) {
}

/* medium */
@media (min-width: 700px) {
    .logo {
    }
}

@media (min-width: 1000px) {
}

/* lrg */
@media (min-width: 1200px) {
    .logo {
    }
}

@media (min-width: 1400px) {}